{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <h1>Artist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Alias</th>
                <th>Surname</th>
                <th>Birth</th>
                <th>Is_from</th>
                <th>Bio</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>ImageName</th>
                <th>ImageSize</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.id }}</td>
                <td>{{ artist.name }}</td>
                <td>{{ artist.alias }}</td>
                <td>{{ artist.surname }}</td>
                <td>{{ artist.birth ? artist.birth|date('Y-m-d') : '' }}</td>
                <td>{{ artist.isFrom }}</td>
                <td>{{ artist.bio }}</td>
                <td>{{ artist.createdAt ? artist.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ artist.updatedAt ? artist.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <img  src="{{ vich_uploader_asset(artist, 'imageFile') | imagine_filter('my_thumb') }}"
                          alt="{{ artist.alias }}" />
                </td>
                <td>{{ artist.imageSize }}</td>
                <td>
                    <a href="{{ path('artist_show', {'id': artist.id}) }}">show</a>
                    <a href="{{ path('artist_edit', {'id': artist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('artist_new') }}">Create new</a>
{% endblock %}
