<!DOCTYPE html>
<html>
<head>
        <link rel="icon" href="./{{ asset('img/core/logo-black-onlylogo.ico') }}">

        {% if app.request.requestUri != "/admin" %}
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Title -->
        <title>SAMPLE RECORDS</title>

        <!-- Favicon -->

        <!-- Stylesheet -->
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" charset="UTF-8" href="{{ asset('css/slick.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/slick-theme.min.css') }}" />
        <link rel="stylesheet" href=".{{ asset('css/sample_records.css') }}">
        {% else %}

    {% endif %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% if app.request.requestUri != "/admin" %}
        <!-- ##### All Javascript Script ##### -->
        <!-- jQuery-2.2.4 js -->
        <script src="{{ asset('js/jquery/jquery-2.2.4.min.js') }}"></script>
        <!-- Popper js -->
        <script src="{{ asset('js/bootstrap/popper.min.js') }}"></script>
        <!-- Bootstrap js -->
        <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
{% else %}

{% endif %}
</body>
</html>